body{
  background-color:teal ;
}

h1, h2{
    font-family:Arial;
    font-size:22px;
    color:white;
}   

p{
    color: white;
    font-family: MS Sans Sherif;
}

a{
    text-decoration: none;
}

.ommig{
   border: 3px solid gray;
   font-family: MS Sans Sherif;
   font-size: 16px;
   color: white;
}

.program{
    color: green;
    background: darkblue;
    text-align: center;
}

.tankar{
    text-align: right;
}