body{
  background-color:teal ;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header"
  "main aside";
}

header{
    grid-area: header;
    background-color: darkblue
}

main{
    grid-area: main;
}

aside {
    grid-area: aside;
}

h1, h2{
    font-family:Arial;
    font-size:22px;
    color:white;
}   

p{
    color: white;
    font-family: MS Sans Sherif;
}

a{
    text-decoration: none;
}

.ommig{
   border: 3px solid black;
   font-family: MS Sans Sherif;
   font-size: 16px;
   color: black;
   background-color:darkgray;
}

.program{
    color: green;
    background: darkblue;
    text-align: center;
}

.tankar{
    text-align: right;
}