body{
    background-color: 100vb;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0%;
    padding: 0%;
}
.tomato{
    background-color:tomato;
}

.limegreen{
    background-color:limegreen;
}

.aqua{
    background-color:aqua;
}

.brownbutnotbrown{
    background-color:brown;
}

section p{
    display: none;
}