html {
  scroll-behavior: smooth;
}

*{
  font-family: arial;
}

body{
    background-color: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "section main aside"
    "footer footer footer";
}

#lasvy{
    background-color: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: auto;
    grid-template-areas: 
    "menu header header"
    "section main aside"
    "footer footer footer";
}

#varfor{
  background-color: rgb(248, 248, 248);
  display: grid;
  grid-template-columns: 40% 40% 10%;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header"
  "nav nav nav"
  "section main aside"
  "footer footer footer";
}

.img{
  padding: 20px;
  padding-right: initial;
  margin-right: 10%;
  width: 290px; 
  height: 210px; 
  float: right;
}

.img2{
  padding: 20px;
  padding-left: initial;
  margin-left: 10%;
  width: 290px; 
  height: 210px; 
  float: left;
}

#tennistext{
  text-align: right;
  padding-right: 100px;
}

.navigation{
  list-style-type: none;
}

.lista{
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#button{
  grid-area: menu;
  display: flex;
  justify-content: center;
  align-items: center
  
}

header{
  grid-area: header;
  border: 3px solid rgb(206, 206, 206);
  background-color : rgb(228, 228, 228);
  text-align: center;
  word-spacing: 30px;
  border-radius: 12px;
}

footer{
  grid-area: footer;
  border: 3px solid rgb(206, 206, 206);
  background-color : rgb(228, 228, 228);
  border-radius: 12px;
  text-align: center;
}

#nav{
  grid-area: nav;
  border: 3px solid rgb(206, 206, 206);
  background-color : rgb(228, 228, 228);
  text-align: center;
  border-radius: 12px;
}

#ljud{
  padding: 20px;
  padding-right: initial;
  margin-right: 10%;
  float: right;
}

.btn {
  background-color: gray;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  font-size: 16px;
  margin: 18px 4px;
  opacity: 0.6;
  transition: 0.2s;
  font-size: large;
  border-radius: 4px;
}

tr:nth-child(odd) {
  background-color: rgba(119, 119, 119, 0.952);
  color: black;
}


tr:nth-child(even), th {
  background-color: rgb(199, 199, 199);
  color: black;
}

th {
  border: 2px solid black;
}


.header{
  margin-left: 40px;
}

.tennis, .fotboll, .hem, .varför, .golf{
  color:black
}

.active{
  color: blue;
}

a:link {
  text-decoration: none;
  color:gray;
}

a:visited {
  text-decoration: none; 
  color:black;
}

.btn:focus{
  background-color:black;
}

.btn:hover {
  opacity: 1;
}

a:hover { 
  color:rgb(0, 0, 175)
}

a:active {
  text-decoration: none; 
}

@media only screen and (max-width: 828px) {
  *{
    text-align: center;
  }

  body{
    background-color: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "section"
    "footer";
  }

  #lasvy{
    background-color: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "menu"
    "header"
    "main"
    "section"
    "aside"
    "footer";
  }

  #varfor{
    background-color: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "footer";
  }

  .img ,.img2{
    padding-top: 10px;
    margin-right: initial;
    width: 390px; 
    height: 210px; 
    float: initial;
  }

  .tennistext{
    text-align: initial;
    padding-right: initial;
  }
}