html {
  scroll-behavior: smooth;
}

/*Här över i html bestämmer jag hur mitt scroll behavour är. När den är sät till smmoth gör det att sidan scrollar fint när man snabb-scrollar på webbläsare som stöjer det, vilket är alla förutom macOS Safari och.... Internet Explorer självklart*/

body {
  font-family: arial;
}

/*I "*" användsa allt. Det använde jag först, men det ska man inte göra. Jag har bytt till body*/

header p{
  font-size: 130%;
}

/*I denna avkomlig lägger jag texten från headern och gör storleken till 120% så att det är enklare att använda på en touch screen*/

body{
  background-color: rgb(248, 248, 248);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header"
  "section main aside" 
  "footer footer footer"; 
}

#lasvy{
  background-color: rgb(248, 248, 248);
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: auto;
  grid-template-areas: 
  "menu header header"
  "section main aside"
  "footer footer footer";
}

#varfor{
  background-color: rgb(248, 248, 248);
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header"
  "nav nav nav"
  "section main aside"
  "footer footer footer";
}

/*Över här bestämmer jag var vad ska finnas i min grid*/

.img{
  padding: 20px;
  padding-right: initial; 
  margin-right: 10%;
  width: 290px; 
  height: 210px; 
}

.img2{
  padding: 20px;
  padding-left: initial;
  margin-left: 10%;
  width: 290px; 
  height: 210px; 
}

/*Över här bestämmer jag hur mina vilder ska se ut*/
#tennistext{
  text-align: right;
  padding-right: 100px;
}

ul.navigation > li {
  margin: 2em;
  list-style-type: none;
  border-collapse: separate;
  border-spacing: 15px;
}
/*Här i denna child selectorn ändrar jag på mina listor utan att jag skriver flera rader*/

.lista{
  display: inline;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*Med display:inline kan jag göra så att menyn kan vara på en rad och därmed respektera sitemapen och wirefreamen istället för att ha ett nytt radbyte för varje objekt i listan*/

#button{
  grid-area: menu;
  display: flex;
  justify-content: center;
  align-items: center
  
}

header{
  grid-area: header;
  border: 3px solid rgb(206, 206, 206);
  background-color : rgb(228, 228, 228);
  text-align: center;
  word-spacing: 30px;
  border-radius: 12px;
}

footer{
  grid-area: footer;
  border: 3px solid rgb(206, 206, 206);
  background-color : rgb(228, 228, 228);
  border-radius: 12px;
  text-align: center;
}

#nav{
  grid-area: nav;
  border: 3px solid rgb(206, 206, 206);
  background-color : rgb(228, 228, 228);
  text-align: center;
  border-radius: 12px;
}

/*Här över bestämmer jag hur min nav, footer, haeder och annat ska se ut. Asså vilka färger de ska ha och liknande*/


#ljud{
  padding: 20px;
  padding-right: initial;
  margin-right: 10%;
  float: right;
}

/*Här bestämmer jag min ljudfils position*/


.btn {
  background-color: gray;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  font-size: 16px;
  margin: 18px 4px;
  opacity: 0.6;
  transition: 0.2s;
  font-size: large;
  border-radius: 4px;
}

/*Här anpassar jag min knapp för menyn som till exempel att ha runda hörn med border radius*/


tr:nth-child(odd) {
  background-color: rgba(119, 119, 119, 0.952);
  color: black;
}


tr:nth-child(even), th {
  background-color: rgb(199, 199, 199);
  color: black;
}


th {
  border: 2px solid #0000;
}

/*Här gör jag en så kallad zebra striping*/

.header{
  margin-left: 40px;
}

.tennis, .fotboll, .hem, .varför, .golf{
  color:#0000
}
/*Här bestämmer jag hur min text i headern ska se ut*/

.active{
  color: blue;
}

a:link {
  text-decoration: none;
  color:gray;
}

a:hover { 
  color:rgb(0, 0, 175)
}

a:active {
  text-decoration: none; 
}

.btn:focus{
  background-color:black;
}

.btn:hover {
  opacity: 1;
}

/*Här ändrar jag hur mina länkar ska se ut i samband med LoVe Focus HAte*/

/*Här under har jag en så kallad media query som låter mig andpassa sidan för telefoner eller små webbläsar fönster med en spalt istället för en 2 och 3 spalt*/
@media only screen and (max-width: 828px) {
  *{
    text-align: center;
  }

  body{
    background-color: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "section"
    "footer";
  }

  #lasvy{
    background-color: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "menu"
    "header"
    "main"
    "section"
    "aside"
    "footer";
  }

  #varfor{
    background-color: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "footer";
  }

  .lista{
    display: block;
  }

  .img ,.img2{
    padding-top: 10px;
    margin-right: initial;
    width: 390px; 
    height: 210px; 
    float: initial;
  }

  .tennistext{
    text-align: initial;
    padding-right: initial;
  }
}